* {
	margin: 0;
	padding: 0;
}

.round-img {
	border-radius: 50%;
}

.navbar {
	font-size: 32px;
	background-color: purple;
	color: white;
	display: flex;
	height: 64px;
	align-items: center;
	justify-content: center;
}

.container {
	box-sizing: border-box;
	padding: 16px;
}

.user-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	box-sizing: border-box;
	padding: 16px;
	height: 200px;
	box-shadow: 2px 2px 8px 2px #ccc;
}

.card:hover {
	cursor: pointer;
	box-shadow: 2px 2px 8px 2px purple;
}

@media screen and (max-width: 550px) {
	.user-wrapper {
		grid-template-columns: 1fr;
		grid-gap: 1rem;
	}
}
